<style>
    .banner {
        background: #7ac043;
    }
        
    .logo {
        margin-top: 20px;
        margin-left: 40px;
        margin-bottom: 20px;
    }
      
    .title {
        color: white;
        margin-top: 70px;
        margin-left: 140px;
        font-family: verdana;
    }
</style>
    
<div class="banner">
    <div class="row">
        <div class="col-md-4, logo">
            <img src='http://rebuildingtogethertriangle.force.com//servlet/servlet.FileDownload?file=0150V00000Cw36U' height=140px>
        </div>
        <div class="col-md-8">
            <h1 class='title'><b>Volunteer Center</b></h1>
        </div>
    </div>
</div> 
