<style>
    .banner {
        background: #7ac043;
    }
      
    .footer_title {
        color: white;
        /*margin-top: 70px;*/
        /*margin-left: 140px;*/
        font-family: verdana;
        text-align: center;
    }
</style>

<footer class="footer mt-auto py-3, banner">
  <div class="container, footer_title">
    <span>Rebuilding Together of The Triangle</span>
  </div>
</footer>