<style>

    .body {
        margin-top: 250px;
        margin-left: 25px;
        margin-right: 25px;
    }
    
    .edit_title {
        text-align: center;
    }
         
</style>

<div class='fixed-top'>
    <%= render 'banner' %>
    <%= render 'navbar' %>
</div>

<div class='body'>
    
    <div class='edit_title'>
        <h2>UPDATE MY PROFILE</h2>
    </div>
    
    <%= render 'form' %>
</div>