<div class="row banner">
  <div class="col-4 logo">
    <img src='http://rebuildingtogethertriangle.force.com//servlet/servlet.FileDownload?file=0150V00000Cw36U' height=100px>
  </div>
  <div class="col title">
    <h1>Repair Center</h1>
  </div>
</div>