<%= form_for @repair do |f| %>
    <div>
   Repair Type: <%= f.text_field :repair_type, class:'form-control', placeholder:'What type of repair will you like done' %>
    </div>
   Repair Notes: <%= f.text_area :repair_notes, class:'form-control',  placeholder:'Repair Notes' %><br/>
                 <%= f.submit 'Submit' %>
<% end %>