<%= render 'banner' %>
<%= render 'welcome/nav_bar' %>
<div class="repair-index-body">
  <h4 class="center"> UPDATE REPAIR </h4>
  <br>
  <%= render 'form' %>
  <br>
</div>
<%= render 'shared/footer' %>